@font-face {
    font-family: 'Montserrat';
    src: 
    url(fonts/Montserrat-ExtraLight.woff2) format('woff2'),
    url(fonts/Montserrat-ExtraLight.woff) format('woff'),
    url(fonts/Montserrat-ExtraLight.ttf) format('ttf');
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat';
    src: 
    url(fonts/Montserrat-Light.woff2) format('woff2'),
    url(fonts/Montserrat-Light.woff) format('woff'),
    url(fonts/Montserrat-Light.ttf) format('ttf');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat';
    src: 
    url(fonts/Montserrat-Regular.woff2) format('woff2'),
    url(fonts/Montserrat-Regular.woff) format('woff'),
    url(fonts/Montserrat-Regular.ttf) format('ttf');
    font-weight: 400;
    font-style: normal;
}
* {
    margin: 0;
    padding: 0;
}
.header {
    background-image: url(img/header.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgba(17,17,17,0.7);
    margin-bottom: 80px;
}
.wrapper {
     margin: auto;
     width: 1200px;
   
}
.header-top {
    display: flex;
    width: 100%;
    justify-content: space-between;
    
}
.header-logo {
    padding-top: 40px;
    
}
.logo-name {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    text-decoration: none;
    font-size: 34px;
    line-height: 1.2;
    letter-spacing: -0.04em;
    color: #ffffff;
    
}
.header-nav {
    padding-top: 65px;
}
.nav-items {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 1.2;
    color: #ffffff;
    text-decoration: none;
    margin-left: 25px;
    transition: 0.4s;
    
}
.nav-items:hover {
    color: #c7b299;
}
.icon {
    fill: #ffffff;
    margin-top: 15px;

}
.icon:hover{
    fill: #c7b299;
}
.header-center {
    display: flex;
    flex-direction: column;
    padding-top: 250px;
    align-items: center;
}    
.header-text {
    display: block;
    text-align: center;
    font-family: 'Raleway';
    font-size: 36px;
    line-height: 1.2;
    font-weight: 500;
    color: #ffffff;
}
.header-title {
    text-align: center;
    font-family: 'Raleway';
    font-size: 52px;
    line-height: 1.2;
    font-weight: 800;
    color: #ffffff;
}
.header-desc {
    font-family: 'Montserrat';
    font-size: 16px;
    line-height: 24px;
    font-weight: 300;
    color: #ffffff;
    padding: 15px 300px;
    text-align: center;
    padding:15px 0px; 
    width:592px;
    margin-bottom: 60px;
}
.header-center-arrow{
    content: '';
    display:block;
    width:40px;
    height: 40px;
    border: 3px solid #d3c1ad ;
    border-color: #d3c1ad #d3c1ad transparent transparent;
    position: absolute;
    top:400px;
    }
    .header-center-arrow:hover{
    border-color: #ffffff #ffffff transparent transparent;
    opacity: 0.5;
    }
    .header-center-left-arrow{
    transform: rotate(-135deg);
    left:-200px;
    }
    .header-center-right-arrow{
    transform: rotate(45deg);
    right:-200px;
    }
    .header-center{
    position:relative;
    }
.header-button {
    width: 170px;
    height: 53px;
    background-color: #998675;
    border: 1px solid transparent;
    border-radius: 3px;
    font-family: 'Raleway';
    font-size: 14px;
    line-height: 23px;
    font-weight: 800;
    text-transform: uppercase;
    color: #ffffff;
    margin-bottom: 300px;
    transition: 0.4s;
}
.header-button:hover {
    background-color: transparent;
    border: 5px solid  #998675;
    border-radius: 3px;
    color: #ffffff;
}
.header-paginetion {
    width: 11px;
    height: 11px;
    opacity: 0.5;
    background-color: #ffffff;
    border: 2px solid white;
    border-radius: 50%;
    margin-bottom: 50px;
    margin-right: 5px;
}
.header-paginetion:hover {
    border: 2px solid #d3c1ad;
    background-color: transparent; 
}
 
.app-main {
    display: inline-block;
    width: 24%;
    
}
.icon-main {
    display: block;
    margin: auto;
    margin-bottom: 23px;
    fill: #555555;
    width: 49px;
    height: 49px;
    transition: 0.4s;
    
}
.icon-main:hover {
  fill: #c7b299;  
}

.main-header {
    text-align: center;
    font-family: 'Raleway';
    font-size: 22px;
    line-height: 1.2;
    font-weight: 600;
    color: #555555;
}
.main-text {
    text-align: center;
    font-family: 'Montserrat';
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
    color: #8c8c8c;
    margin-bottom: 90px;
}
.main-text:after{
    display: block;
    content:'';
    width: 100px;
    margin:20px auto;
    border-bottom: 3px solid #f1eee9;
    }
.app-main:hover .main-text:after{
    border-bottom: 3px solid #c7b299;
    }
.app-main:hover .main-header {
    color: #c7b299;
}
.app-main:hover .icon-main {
    fill: #c7b299;  
}
.realization {
    background-color: #fbfaf8;
    padding-top:70px;
}
.realization-header {
    text-align: center;
    font-family: 'Raleway';
    font-size: 30px;
    line-height: 1.2;
    font-weight: 600;
    color: #555555;
    margin-bottom: 20px;
}
.realization-text {
    text-align: center;
    font-family: 'Montserrat';
    font-size: 16px;
    line-height: 28px;
    font-weight: 300;
    color: #8c8c8c;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    width: 65%;
}
.screen {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 0;
    
}

.screen-right {
    width: 770px;
    height: 400px;
    grid-column: 1/3;
    grid-row: 1;
    margin-top: auto;
}
.screen-center {
    width: 770px;
    height: 482px;
    grid-column: 2/6;
    grid-row: 1;
    z-index: 1;
}
.screen-left {
    width: 770px;
    height: 400px;
    grid-column: 3/5;
    grid-row: 1;
    margin-top: auto;
}
.multipurpose {
    display: flex;
    height: 150px;
    background-color: #f4f5f8;
    background-image: linear-gradient(90.0deg, #211b19 0%, #4e3427 100%);
    margin-bottom: 80px;
}
.multipurpose-box {
     display: flex;
     justify-content: space-between;
     align-items: center;
}

.multipurpose-waxom {
    font-family: 'Raleway';
    font-size: 28px;
    line-height: 1.2;
    font-weight: 400;
    color: #c7b299;
}
.multipurpose-header {
    font-family: 'Raleway';
    font-size: 28px;
    line-height: 1.2;
    font-weight: 400;
    color: #ffffff;
    margin-bottom: 5px;
}
.multipurpose-text {
    font-family: 'Montserrat';
    font-size: 18px;
    line-height: 1.2;
    font-weight: 300;
    color: #615855;
}
.multipurpose-button {
    width: 170px;
    height: 50px;
    background-color: #998675;
    border-radius: 3px;
    font-family: Raleway;
    font-size: 14px;
    line-height: 23px;
    font-weight: 800;
    text-transform: uppercase;
    color: #ffffff;
    transition: 0.4s;
    border: 1px solid transparent;
}
.multipurpose-button:hover {
    background-color:#ffffff;
    color: #998675;
    border: 3px solid #998675;
}
.projects-header {
    font-family: 'Raleway';
    font-size: 30px;
    line-height: 1.2;
    font-weight: 600;
    color: #555555;
    text-align: center;
    margin-bottom: 25px;
}
.projects-text {
    font-family: 'Montserrat';
    font-size: 16px;
    line-height: 28px;
    font-weight: 300;
    color: #8c8c8c;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    margin-bottom: 30px;

}
.button-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}
.projects-button {
    padding: 5px 20px;
    background-color: #ffffff;
    border-radius: 3px;
    border: 1px solid #ebebeb;
    font-family: 'Montserrat';
    font-size: 14px;
    line-height: 21px;
    font-weight: 300;
    color: #8c8c8c;
    margin-right: 10px;
}

.projects-button:hover {
    color: #ffffff;
    background-color: #998675;
    border-radius: 3px;
}
.projects-bottom {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.projects-img {
    position: relative;
}
.img-text {
    background-color: #fbfaf8;
    transition: 0.5s;
    height: 100px;
    margin-bottom: 30px;
}
.header-card {
    font-family: 'Raleway';
    font-size: 20px;
    line-height: 1.2;
    font-weight: 500;
    color: #c7b299;
    text-align: left;
    padding: 30px 30px 5px;
}

.header-card:hover {
    color: #ffffff;
}
.header-card::before {
    content: '';
    display: block;
    width: 0px;
    height: 0px;
    border: 30px solid transparent;
    border-bottom: 20px solid #fbfaf8;
    position: absolute;
    top: 197px;
    left: 0;
    transition: 0.5s;
  }

.projects-img:hover .header-card::before {
    border-bottom: 20px solid #362f2d;
    transition: 0.5s;
}
.text-card {
    font-family: 'Montserrat';
    font-size: 14px;
    line-height: 20px;
    font-weight: 300;
    color: #d1d1d1;
    text-align: left;
    padding: 0 30px 30px;
}
.text-card:hover {
    color: #c7b299;
}
.projects-img:hover .img-text {
    background-color: #362f2d;
  
}
.projects-img:hover .header-card {
    color: #ffffff;
}
.projects-img:hover .text-card {
    color: #c7b299;
}

.img-card {
    display: block;
    max-width: 100%;
    height: 237px;
}
.img-link {
    fill: #ffffff;
    height: 26px;
    width: 26px;
}
.img-link:hover {
    fill: #c7b299;
}
.img-search {
    fill: #ffffff;
    height: 26px;
    width: 26px;
}
.img-search:hover {
    fill: #c7b299;
}
.overlay {
    background-color: rgba(17, 17, 17, 0.7);
    color: #fff;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 237px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: 0.5s;
  }
  .projects-img:hover .overlay {
    opacity: 1;
  }
  .overlay .fas {
    padding: 10px;
  }
  .overlay .fas:hover {
    color: #c7b299;
  }
  .projects-btn {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 30px;
  }
  .button-center {
    width: 170px;
    height: 50px;
    background-color: #998675;
    border-radius: 3px;
    font-family: 'Raleway';
    font-size: 14px;
    line-height: 23px;
    font-weight: 800;
    text-transform: uppercase;
    color: #ffffff;
    transition: 0.4s;
    border: 1px solid transparent;
    margin-bottom: 80px;
}
.button-center:hover {
    background-color:#ffffff;
    color: #998675;
    border: 3px solid #998675;
}
.video {
    background-image: url(img/video_background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: center;
    background-color: rgba(17,17,17,0.5);
    height: 705px;

}
.video-img {
    padding-top: 210px;
    display: block;
    margin: auto;
}
.video-header {
    font-family: 'Raleway';
    font-size: 30px;
    line-height: 1.2;
    font-weight: 500;
    color: #ffffff;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 25px;
}
.video-text {
    font-family: 'Montserrat';
    font-size: 16px;
    line-height: 28px;
    font-weight: 300;
    color: #ffffff;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-bottom: 40px;
}
.video-time {
    font-family: 'Montserrat';
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: #c7b299;
    text-align: center;
   
}
.devices {
    background-color: #fbfaf8;
    padding-top: 80px;
}
.devices-wrp { 
    display: flex;
}
.devices-pic {
    height: 616px;
}
.devices-desc {
    margin-top: auto;
    margin-bottom: auto;
}
.devices-header {
    font-family: 'Raleway';
    font-size: 30px;
    line-height: 1.2;
    font-weight: 600;
    color: #555555;
    margin-bottom: 30px;
}
.devices-text {
    font-family: 'Montserrat';
    font-size: 16px;
    line-height: 28px;
    font-weight: 300;
    color: #8c8c8c;
    width: 85%;
    margin-bottom: 30px;
}
.devices-list {
    font-size: 20px;
    line-height: 36px;
    font-weight: 400;
    list-style-image: url(img/devices_list_item.png);
    list-style-position: initial;
    margin-left: 80px;
   
}
.devices-list-item {
    font-family: 'Montserrat';
    font-size: 16px;
    line-height: 32px;
    font-weight: 300;
    color: #8c8c8c;
    padding-left: 30px;
    align-items: flex-start; 
  }
.statistics {
    display: flex;
    height: 300px;
    background-color: #f4f5f8;
    background-image: linear-gradient(90.0deg, #211b19 0%, #4e3427 100%);
    margin-bottom: 80px;
}
.statistics-main {
    display: inline-block;
    width: 19%;
}
.statistics-icon {
    width: 44px;
    height: 44px;
    margin-bottom: 25px;
    margin-left: 90px;
}
.statistics-number {
    font-family: 'Montserrat';
    font-size: 48px;
    line-height: 36px;
    font-weight: 200;
    color: #ffffff;
    margin-bottom: 15px;
    text-align: center;
}
.statistics-text {
    font-family: 'Montserrat';
    font-size: 14px;
    line-height: 20px;
    font-weight: 300;
    text-transform: uppercase;
    color: #c7b299;
    text-align: center;
}
.statistics-text:after {
    display: block;
    content: '';
    width: 30px;
    margin: 20px auto;
    border-bottom: 2px solid #ffffff;

}
.posts-header {
    font-family: 'Raleway';
    font-size: 30px;
    line-height: 1.2;
    font-weight: 600;
    color: #555555;
    text-align: center;
  
}
.posts-text {
    font-family: 'Montserrat';
    font-size: 16px;
    line-height: 28px;
    font-weight: 300;
    color: #8c8c8c;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    margin-bottom: 40px;
    text-align: center;
}
.posts-wrp{
    display: flex;
    justify-content: space-between;
}
.posts-main {
    position: relative;
    width: 30%;
}
.posts-img {
    display: block;
    max-width: 100%;
    height: 220px;
}
.posts-img-overlay-top {
    font-family: 'Montserrat';
    font-size: 24px;
    line-height: 20px;
    font-weight: 300;
    color: #ffffff;
    width: 50px;
    background-color: #363636;
    border-radius: 3px 3px 0px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    padding: 10px;
    margin: 20px;
    z-index: 1;

}
.posts-main:hover .posts-img-overlay-top{
    background-color: #c7b299;
}
.posts-img-overlay-bottom {
    font-family: 'Roboto';
    font-size: 12px;
    line-height: 20px;
    font-weight: 400;
    color: #ffffff;
    width: 50px;
    background-color: #252525;
    border-radius: 0px 0px 3px 3px;
    display: inline-block;
    text-align: center;
    align-items: center;
    position: absolute;
    top: 59px;
    padding: 5px 10px;
    margin: 0 20px;
    z-index: 1;
}
.posts-main:hover .posts-img-overlay-bottom {
    background-color: #a48d72;

}
.paginetion-posts {
    position: absolute;
    left: 132px;
    top: 184px;
}
.posts-img:hover .paginetion-posts {
   
    border: 2px solid #d3c1ad;
}
.posts-paginetion {
    width: 11px;
    height: 11px;
    opacity: 0.5;
    background-color: #ffffff;
    border: 2px solid white;
    border-radius: 50%;
    margin-bottom: 50px;
    margin-right: 5px;
}
.posts-paginetion:hover {
    border: 2px solid #d3c1ad;
    background-color: transparent; 
}
.posts-overlay {
    background-color: rgba(17, 17, 17, 0.7);
    color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 220px;
    opacity: 0;
    transition: 0.5s;
}
.posts-main:hover .posts-overlay {
    opacity: 1;
  }
.posts-main-desc {
    background-color: #fbfaf8;
    transition: 0.5s;
    margin-bottom: 30px;
    height: 175px;
}
.posts-main-header {
    font-family: 'Raleway';
    font-size: 20px;
    line-height: 1.2;
    font-weight: 500;
    color: #555555;
    padding: 20px 20px 0;
}

.posts-main-header:hover {
    color: #c7b299;
}

.posts-main-text {
    font-family: 'Montserrat';
    font-size: 14px;
    line-height: 22px;
    font-weight: 300;
    color: #8c8c8c;
    margin: 20px;
}
.posts-main-text:hover {
    color: #ffffff;
}
.posts-main:hover .posts-main-desc {
    background-color: #362f2d;
}
.main-read {
    font-family: 'Montserrat';
    font-size: 14px;
    line-height: 20px;
    font-weight: 300;
    color: #c7b299;
    margin: 20px;
    text-decoration: none;
}
.main-read::after {
    content: '';
    display: block;
    width: 0px;
    height: 0px;
    border: 5px solid transparent;
    border-left: 5px solid #c7b299;
    position: absolute;
    top: 354px;
    left: 110px;
}
.shift {
    display: flex;
    justify-content: center;
    margin-bottom: 80px;
 
}
.shift-left {
    fill: #d1d1d1;
    margin-right: 8px;
}
.shift-left:hover {
    fill: #c7b299
}
.shift-right {
    fill: #d1d1d1;
}
.shift-right:hover {
    fill: #c7b299
}
.partners {
    background-image: url(img/photo_partners.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgba(17,17,17,0.7);
    background-position-y: center;

}
.partners-box {
    display: inline-block;
    align-items: center;
    padding: 150px 40px;
}
.img-partner {
    transition: 1.5s;
}
.img-partner:hover {
    transform: rotateY(360deg);

}

.footer {
    padding-top: 100px;
    background-color: #191919;
} 
.footer-column {
    display: flex;
}
.footer-about {
    width: 30%;
}
.footer-waxom {
    position: absolute;
}
.footer-logo {
    text-align: center;
    margin-right: 45px;
}
.waxom-text {
    font-family: 'Montserrat';
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
    color: #555555;
    padding-right: 25px;
    margin-top: 40px;
    margin-bottom: 30px;
}
.waxom-text:hover {
    color: #c7b299;
}
.waxom-read {
    font-family: 'Montserrat';
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: #d1d1d1;
    text-decoration: none;
    position: absolute;
}
.waxom-read::after {
    content: '';
    display: block;
    width: 0px;
    height: 0px;
    border: 5px solid transparent;
    border-left: 5px solid #d1d1d1;
    margin-left: 10px;
    position: absolute;
    left: 75px;
    top: 5px;
}

.footer-logo {
    font-family: 'Raleway';
    font-size: 34px;
    line-height: 1.2;
    font-weight: 400;
    letter-spacing: -0.04em;
    color: #ffffff;
}
.footer-header {
    font-family: 'Raleway';
    font-size: 24px;
    line-height: 1.2;
    font-weight: 700;
    color: #ffffff;
    margin-bottom: 30px;
    margin-top: 10px;
}
.footer-text {
    font-family: 'Montserrat';
    font-size: 14px;
    line-height: 20px;
    font-weight: 300;
    color: #555555;
    padding-right: 20px;
}

.footer-text:hover  {
    color: #c7b299;
}
.footer-posts {
    width: 30%;
}
.link {
    color: #00bff3;
}
.link-2 {
    color: #959595;
}
.footer-date {
    font-family: 'Montserrat';
    font-size: 12px;
    line-height: 20px;
    font-weight: 300;
    color: #363636;
}
.footer-date:hover {
    color: #ffffff;
}
.wrp-posts:hover .footer-date {
    color: #ffffff;
}
.wrp-posts:hover .footer-text {
    color: #c7b299;
}
.wrp-posts::after {
    display: block;
    content: '';
    margin: 20px 0 0;
    border-bottom: 1px solid #252525;
    width: 270px;

}
.footer-twitter {
    width: 30%;

}
.footer-dribbble {
    width: 30%;
}
.dribbble-img {
    margin: 3px;
    transition: 0.5s;
}
.dribbble-img:hover {
    transform: scale(1.25);
    box-shadow: 0px 0px 10px black;
}
.footer-bottom {
    background-color: #111111;
    padding-top: 50px;
    padding-bottom: 40px;

}
.footer-wrp {
    display: flex;
    justify-content: space-between;
}
.footer-left {
    display: flex;
}
.copy {
    font-family: 'Montserrat';
    font-size: 13px;
    line-height: 20px;
    font-weight: 300;
    color: #555555;
    
}
.waxom-copy {
    color: #959595;
    margin-right: 20px;
}
.waxom-copy::after {
    display: block;
    content: '';
    margin: -10px;
    border-right: 1px solid #252525;
    height: 13px;
    margin-top: -15px;
}
.nav-text {
    font-family: 'Montserrat';
    font-size: 13px;
    line-height: 20px;
    font-weight: 300;
    text-decoration: none;
    color: #555555;
    margin-left: 20px;

}
.nav-text::after {
    display: block;
    content: '';
    margin: -10px;
    border-right: 1px solid #252525;
    height: 13px;
    margin-top: -15px;

}
.nav-text:hover {
    color: #c7b299;
}
.footer-right {
    display: flex;
}
.footer-name {
    font-family: 'Montserrat';
    font-size: 13px;
    line-height: 20px;
    font-weight: 300;
    color: #555555; 
    margin-right: 30px;
}
.name {
    font-family: 'Montserrat';
    font-size: 13px;
    line-height: 20px;
    font-weight: 300;
    color: #959595;
}
.name::after {
    display: block;
    content: '';
    margin: -10px;
    border-right: 1px solid #252525;
    height: 13px;
    margin-top: -15px;
}
@media (min-width: 320px) and (max-width: 500px) {
    .wrapper {
        margin: auto;
        width: 500px;
   }
   .header-logo {
    padding-left: 30px;
}
   .header-nav::before {
    position: relative;
    display: inline-block ;
    display: none;
	position: absolute;
	top: 100%;
   }
   .nav-items {
    display:inherit;
   }
   .logo-name {
       position: absolute;
       top: 50px;
   }
   .app-main {
    width: 100%;
}
   .main-text {
    margin: auto;
    text-align: center;
    width: 60%;
}
.realization-header {
    text-align: center;
    font-family: 'Raleway';
    font-size: 22px;
    line-height: 1.2;
    font-weight: 400;
    color: #555555;
    margin-bottom: 20px;
}
.screen {
    display: flex;
    flex-direction: column;
}
.screen-right, .screen-center,.screen-left {
    width: 500px;
    height: 100%;
}
.multipurpose-box {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.multipurpose-header {
    font-size: 18px;
}
.multipurpose-waxom {
    font-size: 20px;
}
.multipurpose-text {
    font-size: 14px;
}
.multipurpose-right {
    margin-bottom: 15px;
}
.button-box {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    flex-wrap: wrap;
}
.projects-button {
    margin: 10px;
}
.video-header {
    font-size: 22px;
}
.video-text {
    font-size: 14px;
}
.devices {
    padding-top: 0;
}
.devices-img {
  opacity: 0;
    position: absolute;  
}
.devices-header {
    font-size: 22px;
}
.devices-desc {
    margin: 30px;
}
.devices-list {
    margin-left: 30px;
}
.statistics {
    height: 100%;
}
.statistics-main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
}
.statistics-icon {
    margin: 30px auto;
}
.posts-header {
    font-size: 22px;
}
.posts-text {
    font-size: 14px;
    line-height: 20px;
    margin: 30px;
    width: 100%;
}
.posts-wrp {
    flex-wrap: wrap;
}
.partners {
    padding-top: 50px;
}
.partners-box {
    padding: 50px;
}
.posts-main {
    width: 100%;
    margin: 15px 30px 15px;
}
.posts-main-desc {
    margin-bottom: 0;
}
.footer-column {
    flex-direction: column;
}
.footer-about, .footer-posts,.footer-twitter,.footer-dribbble {
    width: 60%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 30px;
}
.footer-left, .footer-right {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.footer-wrp {
    display: flex;
    text-align: center;
    flex-direction: column;
}
.nav-text {
    padding-bottom: 20px;
}
.footer-name {
    padding-bottom: 20px;
    margin-right: 0;
}
